/* global */
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}
code{
    padding:10px ;
    background-color: rgb(187, 179, 179);
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
}
.logo{
    color: blue;
    position: fixed;
    top: 0;
    background-color: skyblue;
    text-align: center;
    width: 100%;
    margin-top: 0;
    height:50px;
}
/* main-header */
#main-header{
    width: 250px;
    line-height: 2em;
    position: fixed;
    top:60px;
    left:0;
    background:red;
    color: white;
}
#main-header #menu{
    position:fixed;
    left:0;
    top:0;
    border: 2px solid black;
    padding: 5px 10px;
    color:black
}
#navbar{
    font-size: 20px;
    height: 500px;
    overflow: scroll;
    color: white;
   
}
#navbar li {
    list-style: none;
    border: 1px solid black;
    padding: 5px 20px;
    color: white;
}

/* main-doc */
#main-doc{
    line-height: 1.6em;
    width:100%;
    margin-top: 60px;
}
.container{
    width:90%;
    margin: auto;
}
.heading{
    font-size: 30px;
    font-weight: bold;
}
input{
    display:none
}
input:checked ~ #main-header{
    position:absolute;
    left: -300px
}
@media screen and (max-width: 800px) {
    #main-header{
        width: 150px;
        font-size: 16px;
    }
    #main-header h1{
        font-size: 20px;
        padding: none;
        text-align: left;
    }
    #navbar{
        font-size: 16px;
    }

}
