/* global */
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
code{
    padding:10px ;
    background-color: rgb(187, 179, 179);
    width: 100%;
}

body{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* main-header */
#main-header{
    width:20%;
    line-height: 2em;
    height: 600px;
    overflow: scroll;
}
#main-header h1{
    padding: 20px;
}
#navbar{
    font-size: 20px;
   
}
#navbar li {
    list-style: none;
    border: 1px solid black;
    padding: 5px 20px;
}

/* main-doc */
#main-doc{
    line-height: 1.6em;
    width:78%;
    height: 650px;
    overflow: scroll;
}
.container{
    width:90%;
    margin: auto;
}
.heading{
    font-size: 30px;
    font-weight: bold;
}
